# Ignore general dot-started files
.*
!.gitignore

# Ignore Gradle build artifacts
/build
/bin/

# Track only Jenkins configs
/jenkins/jenkins_home/*
/jenkins/jenkins_home/jobs/*/builds
/jenkins/jenkins_home/jobs/*/lastSuccessful
/jenkins/jenkins_home/jobs/*/lastStable
/jenkins/jenkins_home/jobs/*/nextBuildNumber

!/jenkins/jenkins_home/config.xml
!/jenkins/jenkins_home/credentials.xml
!/jenkins/jenkins_home/jobs
!/jenkins/jenkins_home/nodes
!/jenkins/jenkins_home/users
